<table>
  <thead item-height="40%">
    <tr>
      <div  >
        <img src="./assets/head.png"  height="30%" width="100%">
      </div>
    </tr>
  </thead>
  <tfoot id="footer">
    <tr>
      <div  >
        <img src="./assets/foot.png"  height="20%" width="100%">
      </div>
    </tr>
  </tfoot>
  <tbody>
    <div item-height="40%" item-width="100%">
      <div>
        <h1>Partners</h1>
      </div>
      <div>
          <router-outlet></router-outlet>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </tbody>
</table>



 